.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;

  &__content {
    flex: 1;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
  }

  &__main {
    flex: 1;
    background-color: #f9fafb;
  }
}

@media (max-width: 1024px) {
  .layout {
    &__content {
      margin-left: 0;
    }
  }
}
